<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shalimar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Document</title>
</head>

<body>
    <div th:replace="fragmentos/navbar :: navbar-general"></div>
    <main>
        <section>
            <div class="descripcion">
                <p class="descripcion-lugar" th:text="${lugar.descripcion}"></p>
            </div>
        </section>
        <section>
            <div class="grilla-categorias">
                <div th:each="categoria: ${categorias}">
                    <p th:text="${categoria.nombre}"></p>
                    <a th:href="@{/publicacion/publicaciones(id=__${categoria.id}__)}"><img th:src="@{'data:image/jpeg;base64,'+${categoria.foto.getContenidoBase64()}}" alt=""></a>
                </div>
            </div>
        </section>
    </main>
</body>

</html>