<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <title>TuristeArg</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #8991CF;">
    <div class="container">
      <img class="logo" src="img/logo.png">
    </div>
    <div class="col clearfix">
      <ul class="navbar-nav ml-auto" id="links">
        <li class="nav-item">
          <button type ="button" class="btn btn-outline-light float-left" href="/lugar">Conocer Experiencias</button>
        </li>
        <li class="nav-item">
          <button type ="button" class="btn btn-outline-light float-right" href="/login">Compartir Experiencias</button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="container" style="margin:2%">
      <h3>En TuristeArg encontraras todo tipo de experiencias turísticas, contadas por viajeros en primera persona</h3>
    </div>
    <br>
    <div class="detinos text-center">
      <h5>DESTINOS TURISTICOS</h5>
      <br>
    </div>
    <div class="contenedor">
      <div class="cont-img">
        <a href="/lugar"><img class="destino" src="img/ROSARIO.png" alt=""></a>
      </div>
      <div class="cont-img">
        <a href="/lugar"><img class="destino" src="img/CPAZ.png" alt=""></a>
      </div>
      <div class="cont-img">
        <a href="/lugar"><img class="destino" src="img/SAN RAFAEL.png" alt=""></a>
      </div>
      <div class="cont-img">
        <a href="/lugar"><img class="destino" src="img/SALTA.png" alt=""></a>
      </div>
      <div class="cont-img">
        <a href="/lugar"><img class="destino" src="img/IGUAZU.png" alt=""></a>
      </div>
      <div class="cont-img">
        <a href="/lugar"><img class="destino" src="img/BARILOCHE.png" alt=""></a>
      </div>

    </div>
  </div>

  <div class="">
    <footer class="text-center">
      <div class="row">
        <div class="mx-auto">
          <p>©Copyright Todos los derechos reservados</p>

        </div>
      </div>

    </footer>

  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>