<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Perfil</title>
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shalimar&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/tweet.css">
	<link rel="stylesheet" href="/css/publicaciones.css">


</head>

<body>
	<div th:replace="fragmentos/navbar :: navbar-general"></div>
	<main>
		<section>
			<div class="tweet" th:each="publicacion : ${publicaciones}">
				<img class="tweet__author-logo" th:src="${'/foto/usuario/' + publicacion.usuario.id}">
				<div class="tweet__main">
					<div class="tweet__header">
						<div class="tweet__author-name" th:text="${publicacion.usuario.nombreDeUsuario}">
						</div>
					</div>
				</div>
				<div class="tweet__content">
					<p th:text="${publicacion.descripcion}"></p>
					<div>
						<img class="tweet__image" th:src="${'/foto/publicacion/' + publicacion.id}"
							alt="foto publicacion">
					</div>
				</div>
			</div>
		</section>
		<div>
		<a th:href="@{/publicacion/crear(idCategoria=${idCategoria}, idUsuario=${session.usuariosession.id})}" th:if="${session.usuariosession != null}">Crear Publicacion</a>
		</div>
	</main>
</body>

</html>