* {
	box-sizing: border-box;
    background-color: #251134;
}

.footer-contenedor{
    display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding:40px;
}

footer a {
	color: rgb(170, 170, 170);
	text-decoration: none;
	margin-right: 3px;
	font-weight: 600cm;
    font-size: 30px;
}

footer a:hover,
footer a.activo {
	color: #FFF;
}

.copy{
    color: rgb(170, 170, 170);
    font-size: 30px;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	body footer-contenedor {
		flex-direction: column;
		text-align: center;
	}
}