spring:
  
  mail: 
    host: smtp.gmail.com
    port: 587
    properties:
        mail:
            smtp:              
                auth: true
                starttls:
                    required: true
                    enable: true
    username: grupo2egg@gmail.com
    password: bheqdtwkwmlanxzw

  servlet:
      multipart:
        max-request-size: 100000KB
        max-file-size: 100000KB

  datasource:
    url: jdbc:mysql://localhost:3306/turistearg?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
      
  jpa:    
    show-sql: false
    
    hibernate:
      
      ddl-auto: update 
  
  thymeleaf:
        cache: false 

server:
  port: 8080