<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
	<header th:fragment="navbar-index">
		<div class="contenedor-nav">
			<span class="logotipo">TURISTEARG</span>
			<nav>
				<a class="activo" href="/">INICIO</a>
				<a href="/registro">REGISTRATE</a>
				<a href="/login">LOGIN</a>
			</nav>
		</div>
	</header>
	<header th:fragment="navbar-registro">
		<div class="contenedor-nav">
			<span class="logotipo">TURISTEARG</span>
			<nav>
				<a href="/">INICIO</a>
				<a class="activo" href="/registro">REGISTRATE</a>
				<a href="/login">LOGIN</a>
			</nav>
		</div>
	</header>
</body>

</html>