<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="nav" class="navbar navbar-expand-md navbar-dark" style="background-color: #8991CF;">
        <div class="container">
            <img class="logo" src="img/logo.jpg">
        </div>
        <div class="col clearfix">
          <ul class="navbar-nav ml-auto" id="links">
              <a href="/login"><img class="login" src="img/login.png"></a>  
          </ul>
        </div>
      </nav>
</body>
</html>
