<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
	<header th:fragment="navbar-general">
		<div class="contenedor-nav">
			<span class="logotipo">TURISTEARG</span>
			<nav>
				<a href="/">INICIO</a>
				<a th:if="${session.usuariosession == null}" href="/registro">REGISTRATE</a>
				<a th:if="${session.usuariosession == null}" href="/login">LOGIN</a>
				<a th:if="${session.usuariosession != null}" th:href="@{/usuario/perfil(id=__${session.usuariosession.id}__)}">PERFIL</a>
				<a th:if="${session.usuariosession != null}" th:href="@{/logout}">SALIR</a>
			</nav>
		</div>
	</header>
</body>

</html>